@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>ms-controller</title>
    <script src="~/Scripts/avalon/avalon.js"></script>
    <script src="~/Scripts/demo03/scope.js"></script>
</head>
<body>
    <div ms-controller="AAA">
        <div>{{name}}:{{color}}</div>
        <div ms-controller="BBB">
            <div>{{name}}:{{color}}</div>
            <div ms-controller="CCC">
                <div>{{name}}:{{color}}</div>
                  <div ms-important="DDD">
                <div>{{name}}:{{color}}</div>
            </div>
            </div>
        </div> 
    </div> 

</body>
</html>
