@{
    ViewBag.Title = "Index";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>requireJs</title> 
</head>
<body>
 
  

       <div  ms-controller="root">
           {{header|html}}
           
           <div  ms-include-src="page">
            
           </div>
           
          {{footer|html}}
       </div>

    <script src="/Scripts/require/require.js" data-main="/Scripts/require/main.js"></script>
</body>
</html>
 